.b-menu-container {
    background: #fff;
    display: flex;
    flex-direction: row;
    height: 130px;
    min-height: 130px;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.b-menu-container-item {
    flex: 1 1 auto;
    text-align: center;
    margin: 5px;
    width: 100px;
}

.b-menu-container-item a {
    text-decoration: none;
}

.b-menu-container-item a:hover {
    color: cornflowerblue;
}

.b-menu-container-item a img {
    height: 64px;
    width: 64px;
}

.t-menu-container-item {
    font-weight: 600;
    font-size: 14px;
}