.fontColor {
    color: #ff9f00;
}

.main-footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-footer-container-item {
    display: flex;
    padding: 0 25px;
    color: #878787;
    background-color: #fff;
}

.main-footer-container-item h1 {
    font-size: 16px;
    margin-bottom: 10px;
}

.main-footer-container-item:nth-of-type(1) {
    clear: both;
    line-height: 16px;
    font-size: 11px;
}

.main-footer-1 {
    margin: 30px 0 15px;
}

.main-footer-container-item:nth-of-type(2) {
    clear: both;
    line-height: 16px;
    font-size: 11px;
    background-color: #172337;
    border-bottom: 1px solid #62656a;
}

.main-footer-container-item:nth-of-type(3) {
    clear: both;
    line-height: 16px;
    font-size: 11px;
    background-color: #172337;
}

.q-footer-items {
    display: flex;
}

.q-footer-items-menu {
    display: flex;
    width: 100%;
    padding: 16px;
}

.q-footer-items-menu a {
    align-items: center;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    position: relative;
    text-decoration: none;
}

.q-footer-items:nth-of-type(1) {
    flex-grow: 2;
}

.q-footer-items:nth-of-type(2) {
    flex-grow: 2;
}

.q-footer-items:nth-of-type(3) {
    flex-grow: 2;
}

.q-footer-items:nth-of-type(4) {
    flex-grow: 2;
}

.q-footer-items:nth-of-type(5) {
    flex-grow: 2;
}

.q-footer-items:nth-of-type(6) {
    flex-grow: 10;
}

.middle-footer-container {
    clear: both;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.middle-footer-container-item {
    width: 100%;
    padding: 16px;
}

.mrg-10-h {
    margin-top: 10px;
    color: #878787;
    font-size: 12px;
    font-weight: 400;
}

.mrg-10 {
    margin-top: 10px;
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.mrg-10 a {
    cursor: pointer;
    font-size: 12px !important;
}

.mrg-10 a:hover {
    text-decoration: underline;
}

.border-r {
    border-left: 1px solid gray;
}

.mrg-10 pre {
    font-size: 12px !important;
    line-height: 20px;
    letter-spacing: .1px;
    font-weight: 600;
    font-style: normal;
    color: #fff;
}